# sensitive local properties from the development machine/computer
local.properties

# ignore the actual database file in the project
.fltd

*.iml
out/
build/
.idea/

# Project exclude paths
/.gradle/

/node_modules/
/server/node_modules/
